/* Your app's CSS, go crazy, make it your own */

body{
    //margin-top: 15pt;
    //background-color: #444444;
}
/* Adjusting font sizes */
.list.card .item h2{
	font-size:1.25em;
	line-height:1.25em;
	margin-top:-.25em;
}
.list.card .item h3{
	font-size:1.25em;
}
.list.card .item p{
	font-size:1em;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

/* Stuff for responsive Cat Videos */
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/*temp styling*/
.positive-bg span{
	color:#fff;
}

.positive-bg {
	color:#fff;
    background-color: #559836;
    border-color: #497136;
}

/*Making Form Validation more visual for viewers. Too bad it isn't supported by ionic. You can still add an event without "required" inputs added
input:required {
    background:hsl(180, 50%, 90%);
    border:1px solid #999;
}
*/

/*Add event Department buttons*/
.depBtn{display: inline-block;margin: 2% 4% 0% 4%;}
input[type="radio"]{display:none;}

.at input[type="radio"] + label span {background:url("../img/icons/atSprite.png");}
.dgm input[type="radio"] + label span {background:url("../img/icons/dgmSprite.png");}
.ca input[type="radio"] + label span {background:url("../img/icons/caSprite.png");}
.ct input[type="radio"] + label span {background:url("../img/icons/ctSprite.png");}
.ist input[type="radio"] + label span {background:url("../img/icons/istSprite.png");}
.egd input[type="radio"] + label span {background:url("../img/icons/egdSprite.png");}
.cs input[type="radio"] + label span {background:url("../img/icons/csSprite.png");}
.tm input[type="radio"] + label span {background:url("../img/icons/tmSprite.png");}
.et input[type="radio"] + label span {background:url("../img/icons/etSprite.png");}
.col input[type="radio"] + label span{ 
	display:inline-block;
	width:91px;
	height:91px;
	background-size:184px 92px;
	background-position:left top;
	background-repeat: no-repeat;
}

.selectedDept input[type="radio"] + label span{
	background-position:-92px top;
}

.deptRow,
.section{
	position:relative;
	min-height:110px;
}
.unselectedDept{
	display:none;
}
.selectedDept{
	position:absolute;
	top:0;
	left:0;
}
.cancel{
	font-size:2em;
	position:absolute;
	top:0;
	left:4px;
	
}

h2, h3 {line-height: 1.3em;}

.item h3 a p {color: #559836;}
.item h3 a {text-decoration: none;}

/*** About Page Styling ***/
.item.item-divider {background: #559836; border-color: #497136; color: #FFF;}

/*--Menu Icons Styles--*/

.button .icon {
	vertical-align: initial;
}
.list .button-bar .button-positive .icon:before {
	display: block;
	line-height: 25px;
	padding: 4px 0px 0px 0px;
}
.list .button-bar a {
	line-height: 25px;
}

<<<<<<< HEAD
/*
* Content Editable
*/

[contenteditable="true"] {
	background:#c2c2c2;
}

.save {
	min-height: 0px;
	max-height: 0px;
	opacity: 0;
	-webkit-transition-property:opacity, max-height;
	-webkit-transition-duration:.15s, .3s;
	-webkit-transition-delay:0s,.15s;
}

.save.showSave {

	opacity: 1;
	max-height: 50px;
}
=======
.button.button-positive {

color: #fff;
    background-color: #559836;
    border-color: #497136;
}
.button.button-positive.active, .button.button-positive:active {
      background-color: #497136;
      box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);
      border-color: #497136; }

/*-- Evnt-details--*/
span.startT{
	float:left;
}
span.endT{
	float:right;
}
span.endT b, span.startT b {
	color: #444;
}
p.roomN {
	text-align: right;
}
p.roomN b{
	color:#444;
}
label.moreI p {
	float: right;
	color: #444;
	margin:0px;
}
label.moreI {
	opacity: 0;
}
span.startT span, span.endT span {
	color: #444;
}
.moreI p {
	background: #497136;
	padding: 5px;
	width: 120px;
	text-align: center;
	color: #fff!important;
	border-radius: 2px;
	cursor:pointer;
}
.moreI p:hover{
	background:#3d5d2e;
}
.moreI p span {
	float: right;
	width: 18px;
}

/* Responsive Test */

/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0 auto;
    text-align: center;
}

/*  COLUMN SETUP  */
.col {
    //display: block;
    float:left;
    //margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*  GRID OF THREE  */
.span_3_of_3 {
    width: 100%;
}
.span_2_of_3 {
    width: 66.1%;
}
.span_1_of_3 {
    width: 32.2%;
}

/* End Responsive Test */
>>>>>>> master
