<!--
  This template loads for the 'tab.about' state (app.js)
-->
<view title="'About Dean Radar'">
  <content has-header="true" has-tabs="true" padding="true">
      <div class="card">
          <div class="item item-divider">
              How to use Dean Radar
          </div>
          <div class="item item-text-wrap">
              The <i class="icon ion-home"> </i><strong> Events</strong> tab is where to view upcoming events that other department chairs have submitted.
          </div>
          <div class="item item-text-wrap">
              Here you can filter through events by the <i class="icon ion-calendar"></i><strong> Date</strong>, <i class="icon ion-grid"> </i> <strong> Department</strong>, or <i class="icon ion-ios7-flag"></i><strong> Event Name</strong>.
          </div>
          <div class="item item-text-wrap">
              Tapping on an event will bring you to the <i class="icon ion-information-circled"> </i> <strong> Event Detail</strong> section.
          </div>
          <div class="item item-text-wrap">
              If you need to delete the event you're viewing, tap on the <i class="icon ion-close-circled"> </i><strong> Delete</strong> button, then either hit Delete or Cancel to confirm.
          </div>
          <div class="item item-text-wrap">
              The <i class="icon ion-ios7-compose"> </i><strong> Add Event</strong> tab will allow you to create an event for a specific department.
          </div>
      </div>
      
      <div class="card">
          <div class="item item-divider item-icon-right" ng-click="toggle = !toggle">
              Dean Radar Developed by: <i class="icon ion-information-circled"></i>
          </div>
          <ul class="list">
            <li class="item">Chad Watkins</li>
              <div ng-hide="toggle"> </div>
              <div ng-show="toggle"  class="item item-thumbnail-left">
                  
                    <img src="../img/pics/iconperson.png">
                  
                  <h3>Team: <p>Develop</p> </h3>
                  <h3>Portfolio: <a href=""><p>blah_blah.com</p></a></h3>
                  <h3>Email: <p>chad@yahoo.com</p> </h3>
                  
              </div>
            

            <li class="item">Dayton Rohner</li> 
              <div ng-hide="toggle"> </div>
              <div ng-show="toggle"  class="item item-thumbnail-left">
                  
                    <img src="../img/pics/dayton.JPG">
                  
                  <h3>Team: <p>Design</p> </h3>
                  <h3>Portfolio: <a href="http://daytonrohner.com/"><p>daytonrohner.com</p></a></h3>
                  <h3>Email: <p>daytonrohner@yahoo.com</p> </h3>
                  
              </div>
            
            <li class="item">James Toney</li>
              <div ng-hide="toggle"> </div>
              <div ng-show="toggle"  class="item item-thumbnail-left">
                  
                    <img src="../img/pics/iconperson.png">
                  
                  <h3>Team: <p>Develop</p> </h3>
                  <h3>Portfolio: <a href=""><p>blah_blah.com</p></a></h3>
                  <h3>Email: <p>youremail@yahoo.com</p> </h3>
                  
              </div>
            <li class="item">Joe Hafen</li>
              <div ng-hide="toggle"> </div>
              <div ng-show="toggle"  class="item item-thumbnail-left">
                  
                    <img src="../img/pics/iconperson.png">
                  
                  <h3>Team: <p>Design</p> </h3>
                  <h3>Portfolio: <a href=""><p>blah_blah.com</p></a></h3>
                  <h3>Email: <p>youremail@yahoo.com</p> </h3>
                  
              </div>
            <li class="item">John Perl</li>
              <div ng-hide="toggle"> </div>
              <div ng-show="toggle"  class="item item-thumbnail-left">
                  
                    <img src="../img/pics/iconperson.png">
                  
                  <h3>Team: <p>Design</p> </h3>
                  <h3>Portfolio: <a href=""><p>blah_blah.com</p></a></h3>
                  <h3>Email: <p>youremail@yahoo.com</p> </h3>
                  
              </div>
            <li class="item">Liam Stanton</li>
              <div ng-hide="toggle"> </div>
              <div ng-show="toggle"  class="item item-thumbnail-left">
                  
                    <img src="../img/pics/liam.jpg">
                  
                  <h3>Team: <p>Design</p> </h3>
                  <h3>Portfolio: <a href="http://www.billynair.com/portfolio.php"><p>billynair.com</p></a></h3>
                  <h3>Email: <p>10005482@uvlink.uvu.edu</p> </h3>
                  
              </div>
            <li class="item">Nathan Robinson</li>
              <div ng-hide="toggle"> </div>
              <div ng-show="toggle"  class="item item-thumbnail-left">
                  
                    <img src="../img/pics/iconperson.png">
                  
                  <h3>Team: <p>Design</p> </h3>
                  <h3>Portfolio: <a href=""><p>blah_blah.com</p></a></h3>
                  <h3>Email: <p>youremail@aol.com</p> </h3>
                  
              </div>
            <li class="item">Ryan Martin</li>
              <div ng-hide="toggle"> </div>
              <div ng-show="toggle"  class="item item-thumbnail-left">
                  
                    <img src="../img/pics/iconperson.png">
                  
                  <h3>Team: <p>Design</p> </h3>
                  <h3>Portfolio: <a href=""><p>blah_blah.com</p></a></h3>
                  <h3>Email: <p>youremail@aol.com</p> </h3>
                  
              </div>
            <li class="item">Sheresa "Roo" Wight</li>
              <div ng-hide="toggle"> </div>
              <div ng-show="toggle"  class="item item-thumbnail-left">
                  
                    <img src="../img/pics/iconperson.png">
                  
                  <h3>Team: <p>Design</p> </h3>
                  <h3>Portfolio: <a href=""><p>blah_blah.com</p></a></h3>
                  <h3>Email: <p>youremail@aol.com</p> </h3>
                  
              </div>
            <li class="item">Talmage Hansen</li>
              <div ng-hide="toggle"> </div>
              <div ng-show="toggle"  class="item item-thumbnail-left">
                  
                    <img src="../img/pics/iconperson.png">
                  
                  <h3>Team: <p>Design</p> </h3>
                  <h3>Portfolio: <a href=""><p>blah_blah.com</p></a></h3>
                  <h3>Email: <p>youremail@aol.com</p> </h3>
                  
              </div>
            <li class="item">Thor Anderson</li>
              <div ng-hide="toggle"> </div>
              <div ng-show="toggle"  class="item item-thumbnail-left">
                  
                    <img src="../img/pics/iconperson.png">
                  
                  <h3>Team: <p>Project Manager</p> </h3>
                  <h3>Portfolio: <a href=""><p>blah_blah.com</p></a></h3>
                  <h3>Email: <p>youremail@aol.com</p> </h3>
                  
              </div>
            <li class="item">Todd Goates</li>
              <div ng-hide="toggle"> </div>
              <div ng-show="toggle"  class="item item-thumbnail-left">
                  
                    <img src="../img/pics/iconperson.png">
                  
                  <h3>Team: <p>Design</p> </h3>
                  <h3>Portfolio: <a href=""><p>blah_blah.com</p></a></h3>
                  <h3>Email: <p>youremail@aol.com</p> </h3>
                  
              </div>
            <li class="item">Tyler Maynard</li>
            <div ng-hide="toggle"> </div>
              <div ng-show="toggle"  class="item item-thumbnail-left">
                  
                    <img src="../img/pics/iconperson.png">
                  
                  <h3>Team: <p>Design</p> </h3>
                  <h3>Portfolio: <a href=""><p>blah_blah.com</p></a></h3>
                  <h3>Email: <p>youremail@aol.com</p> </h3>
                  
              </div>
          </ul>
      </div>

  </content>
</view>
