<!--
  This template loads for the 'tab.about' state (app.js)
-->
<view title="'About Dean Radar'">
  <content has-header="true" has-tabs="true" padding="true">
      <div class="card">
          <div class="item item-divider">
              How to use Dean Radar
          </div>
          <div class="item item-text-wrap">
              The <strong>Events</strong> tab is where to view upcoming events that other department chairs have submitted.
          </div>
          <div class="item item-text-wrap">
              Here you can filter through events by the <strong>Date</strong>, <strong>Department</strong>, or <strong>Event Name</strong>.
          </div>
          <div class="item item-text-wrap">
              Tapping on an event will bring you to the <strong>Event Detail</strong> section.
          </div>
          <div class="item item-text-wrap">
              If you need to delete the event you're viewing, tap on the <strong>Delete</strong> button, then either hit Delete or Cancel to confirm.
          </div>
          <div class="item item-text-wrap">
              The <strong>Add Event</strong> tab will allow you to create an event for a specific department.
          </div>
      </div>
      
      <div class="card">
          <div class="item item-divider">
              Dean Radar Developed by:
          </div>
          <ul class="list">
            <li class="item">Chad Watkins</li>
            <li class="item">Dayton Rohner</li>
            <li class="item">James Toney</li>
            <li class="item">Joe Hafen</li>
            <li class="item">John Perl</li>
            <li class="item">Liam Stanton</li>
            <li class="item">Nathan Robinson</li>
            <li class="item">Ryan Martin</li>
            <li class="item">Sheresa "Roo" Wight</li>
            <li class="item">Talmage Hansen</li>
            <li class="item">Thor Anderson</li>
            <li class="item">Todd Goates</li>
            <li class="item">Tyler Maynard</li>
          </ul>
      </div> 
      
    <!--<div class="list card">
      <div class="item">
        <h1>Thor loves cats!</h1>
      </div>
      <div class="item">
        <div class="videoWrapper">
          <iframe width="640" height="480" src="//www.youtube.com/embed/sP4NMoJcFd4?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="item">
        <p>This was really a responsive video test</p>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </div>-->
  </content>
</view>
