
<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<view title="'Hello Mr Dean'">
    <content has-header="true" has-footer="true">
        <div class="list card">
            <div class="item item-avatar">
                <img ng-src="img/icons/{{ theEvent.depticon }}" alt="{{ event.value.department }}" />
                <h2>{{ theEvent.eventName }}</h2>
                <h4 class="startT">{{theEvent.startDate | date:'MMM d, h:mm a' }} - {{ theEvent.endDate | date:'MMM d, h:mm a' }}</h4>
            </div>
            <div class="item item-body">
                <span ng-show="theEvent.description"><h3>Description</h3>
                <div>
                    <p>{{ theEvent.description }}</p>
                </div></span>

                <label class="moreI">
                    <input type="checkbox" ng-model="checked" name="checkbox" value="value">
                    <p style="position:initial;"class="button button-balanced button-block">More Info... <span class="check-element animate-hide" ng-show="checked"> <i class="ion-ios7-arrow-down"/></i> </span><span class="check-element animate-hide" ng-hide="checked"> <i class="ion-ios7-arrow-right"></i> </span></p>
                </label>
                <div class="check-element animate-hide" ng-show="checked" >
                    <br>
                    <br>
                    <br>
                    <h3>Location</h3>
                    <span ng-show="theEvent.location.room"><p>Building/room: {{ theEvent.location.building }}{{ theEvent.location.room }}</p></span>
                    <span ng-show="theEvent.location.street"><p> Street: {{ theEvent.location.street }}</p></span>
                   <span ng-show="theEvent.location.city"> <p> {{"City: " + theEvent.location.city }} {{ theEvent.location.zip}}</p></span>
                    <br>
                    <h3>More Information</h3>
                    <span ng-show="theEvent.notes"><p>Notes : {{ theEvent.notes }}</p></span>
                    <span ng-show="theEvent.location.street"><p>URL : {{ theEvent.url }}</p></span>
                </div>
            </div>
            <a class="button button-block button-assertive" ng-click="deleteEvent(theEvent)">
                Delete
            </a>
        </div>
    </content>
</view>




